.blog-details .image {
  max-height: 570px;
  height: 570px; }

.blog-details .blog-title {
  -webkit-margin-before: 40px;
  margin-block-start: 40px; }

.blog-details .card-time-comments {
  -webkit-margin-before: 24px;
  margin-block-start: 24px; }

.blog-details .card-time-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 16px;
  column-gap: 16px;
  row-gap: 8px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.blog-comment .card-list-item,
.blog-details .card-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 6px; }

.blog-details .blog-desc > * {
  -webkit-margin-before: 24px;
  margin-block-start: 24px; }

.blog-details .blog-author {
  -webkit-margin-before: 40px;
  margin-block-start: 40px; }

.blog-details .blog-author.custom-shadow {
  --color-border: rgba(0, 183, 241, 1);
  padding: 40px;
  text-align: center;
  border-radius: 30px;
  border-left: 4px solid var(--color-border); }

.blog-details .author-image {
  width: 130px;
  height: 130px;
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  -webkit-margin-end: auto;
  margin-inline-end: auto; }

.blog-details .author-quote {
  -webkit-margin-before: 24px;
  margin-block-start: 24px; }

.blog-details .author-desig {
  -webkit-margin-before: 40px;
  margin-block-start: 40px; }

.blog-details .author-name {
  -webkit-margin-before: 8px;
  margin-block-start: 8px; }

.blog-details .blog-text {
  -webkit-margin-before: 40px;
  margin-block-start: 40px; }

.blog-comment .sort-button input {
  font-size: 18px;
  font-weight: 500; }

.blog-comment .sort-button input::-webkit-input-placeholder {
  font-size: 18px;
  width: 100%;
  font-weight: 500; }

.blog-comment .sort-button input:-ms-input-placeholder {
  font-size: 18px;
  width: 100%;
  font-weight: 500; }

.blog-comment .sort-button input::-ms-input-placeholder {
  font-size: 18px;
  width: 100%;
  font-weight: 500; }

.blog-comment .sort-button input::placeholder {
  font-size: 18px;
  width: 100%;
  font-weight: 500; }

.blog-comment .sort-wrap .sort-button {
  gap: 16px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.blog-comment {
  -webkit-margin-before: 60px;
  margin-block-start: 60px; }

.blog-comment .dropdown-btn-text .svg-wrapper {
  -webkit-margin-before: 3px;
  margin-block-start: 3px; }

.blog-comment .dropdown-btn-text {
  -webkit-margin-before: 2px;
  margin-block-start: 2px; }

.blog-comment .comment-user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px; }

.blog-comment .comment-list {
  -webkit-margin-before: 40px;
  margin-block-start: 40px; }

.blog-comment .comment-list > li + li {
  -webkit-margin-before: 24px;
  margin-block-start: 24px; }

.blog-comment .comment-user-info .image {
  min-width: 70px;
  width: 70px;
  height: 70px; }

.blog-comment .user-info > .heading + .text {
  -webkit-margin-before: 5px;
  margin-block-start: 5px; }

.blog-comment .comment-text {
  -webkit-margin-before: 16px;
  margin-block-start: 16px; }

.blog-comment .border-full-width {
  -webkit-margin-before: 24px;
  margin-block-start: 24px; }

.blog-comment .comment-bottom {
  -webkit-margin-before: 24px;
  margin-block-start: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.blog-comment .comment-reaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px; }

.comment-reaction .button svg {
  min-width: 24px;
  width: 24px;
  height: 24px; }

.comment-reaction .button--slim {
  padding: 12px 26px 12px 24px; }

.comment-reaction .card-list-item {
  cursor: pointer; }

.blog-comment .comment-reply {
  -webkit-margin-start: 40px;
  margin-inline-start: 40px; }

.blog-reply-form .field > label + textarea,
.blog-reply-form .field > label + input {
  -webkit-margin-before: 16px;
  margin-block-start: 16px; }

.blog-reply-form {
  -webkit-margin-before: 60px;
  margin-block-start: 60px; }

.reply-form {
  -webkit-margin-before: 40px;
  margin-block-start: 40px;
  border: 1px solid var(--color-border);
  border-radius: 20px;
  padding: 24px; }

.reply-form .button {
  -webkit-margin-before: 32px;
  margin-block-start: 32px; }

@media (max-width: 767px) {
  .blog-details .blog-author.custom-shadow {
    padding: 24px 16px; }
  .blog-details .image {
    max-height: auto;
    height: auto; } }
