.blog {
  overflow: hidden; }

.blog-card {
  --color-border: rgba(177, 181, 182, 1);
  --font-button-size: 16px;
  --font-button-size-mobile: 14px;
  position: relative;
  border: 1px solid var(--color-border);
  height: 100%; }

.blog-card .image {
  position: relative; }

.blog-card .content {
  padding: 124px; }

.blog-card .content .blog-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-margin-before: 16px;
  margin-block-start: 16px; }

.blog-card .card-time-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 16px;
  column-gap: 16px;
  row-gap: 8px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.blog-card .card-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 6px; }

.blog-card .card-list-item svg {
  min-width: 16px;
  height: 16px; }

.blog-card .user-info-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-margin-before: 24px;
  margin-block-start: 24px; }

.blog-card .user-image-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 6px; }

.blog-card .user-image-name img {
  max-width: 32px;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover; }

.blog-card .button .button-has-icon {
  min-width: 24px;
  height: 24px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.blog-card .button:hover .button-has-icon {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

.blog-card .button--slim {
  padding: 10px 20px; }

.blog-card .content .blog-title:hover {
  color: var(--color-primary-hover);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.blog-2 .section-headings > .heading + .text {
  max-width: 590px;
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  -webkit-margin-end: auto;
  margin-inline-end: auto; }

.blog-2 .blog-card .content .blog-title {
  -webkit-margin-before: 0;
  margin-block-start: 0; }

.blog-2 .blog-card .content .card-time-comments {
  -webkit-margin-before: 16px;
  margin-block-start: 16px; }

.blog-3 .card-list-item {
  position: relative; }

.has-dot:after {
  --color-background: rgba(99, 171, 69, 1);
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: var(--color-background);
  border-radius: 100%;
  top: 50%;
  left: -10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.blog-3 .button-with-duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-margin-before: 30px;
  margin-block-start: 30px; }

.blog-3 .read-duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px; }

.blog-3 .badge {
  --badge-radius: 100%;
  --color-background: rgba(3, 15, 18, 0.5);
  --color-foreground-heading: rgba(255, 255, 255, 1);
  width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0;
  line-height: 1.2;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); }

.blog-horizontal-wrap > .blog-card + .blog-card {
  -webkit-margin-before: 24px;
  margin-block-start: 24px; }

.blog-card-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto; }

.blog-card-horizontal .image {
  position: relative;
  max-width: 269px;
  height: auto;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch; }

.blog-card-horizontal .image img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.blog-card-horizontal .content {
  padding: 24px 16px; }

.blog-3 .blog-card:not(.blog-card-horizontal) .image {
  --height: 493px;
  height: var(--height); }

.blog-3.blog-about .blog-card:not(.blog-card-horizontal) .image {
  height: 100%; }

.blog-3 .blog-card:not(.blog-card-horizontal) .image img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

@media (max-width: 1399px) {
  .blog-3 .blog-card:not(.blog-card-horizontal) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .blog-3 .blog-card:not(.blog-card-horizontal) .image {
    --height: 573px; } }

@media (max-width: 1199px) {
  .blog-card .content {
    padding: 16px; }
  .blog-card .user-info-button {
    gap: 12px; }
  .blog-card .button--slim {
    padding: 10px 16px; }
  .blog-3 .blog-card:not(.blog-card-horizontal) .image {
    --height: 453px; } }

@media (max-width: 767px) {
  .blog-card-horizontal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .blog-card-horizontal .content {
    width: 100%; }
  .blog-card-horizontal .image {
    max-width: 100%; }
  .blog-3 .blog-card:not(.blog-card-horizontal) .image {
    --height: auto; } }
