.destination-list > div + div {
  -webkit-margin-before: 24px;
  margin-block-start: 24px; }

.showing-text span {
  color: var(--color-primary-hover); }

.sort-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.sort-button input {
  border: none;
  padding: 0;
  min-height: auto;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500; }

.sort-button input::-webkit-input-placeholder {
  --color-foreground: rgba(3, 15, 18, 1);
  font-size: 14px;
  color: var(--color-foreground);
  font-weight: 600; }

.sort-button input:-ms-input-placeholder {
  --color-foreground: rgba(3, 15, 18, 1);
  font-size: 14px;
  color: var(--color-foreground);
  font-weight: 600; }

.sort-button input::-ms-input-placeholder {
  --color-foreground: rgba(3, 15, 18, 1);
  font-size: 14px;
  color: var(--color-foreground);
  font-weight: 600; }

.sort-button input::placeholder {
  --color-foreground: rgba(3, 15, 18, 1);
  font-size: 14px;
  color: var(--color-foreground);
  font-weight: 600; }

.sort-wrap .dropdown-button:hover svg,
.sort-wrap .sort-button svg {
  --color-foreground: rgba(3, 15, 18, 1);
  color: var(--color-foreground); }

.sort-wrap .dropdown-button {
  padding: 0;
  border: none; }

.sort-wrap .dropdown-wrap {
  width: 100%; }

.sort-wrap .sort-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.sort-wrap .dropdown-button {
  cursor: pointer; }

.sort-wrap .dropdown-list-wrap {
  bottom: auto;
  top: 140%; }

.sort-wrap .dropdown-list-wrap .dropdown-list > li {
  cursor: pointer; }

.sort-wrap .dropdown-list > li + li {
  -webkit-margin-before: 16px;
  margin-block-start: 16px; }

.destination-list .product-card.card-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.destination-list .product-card.card-horizontal .image {
  width: 300px;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  height: auto; }

.destination-list .product-card.card-horizontal .image img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%; }

.destination-list .product-card .content {
  padding: 24px;
  width: calc(100% - 300px); }

.destination-list .product-card .badge {
  --badge-padding: 6px 12px;
  --badge-radius: 5px;
  top: 16px;
  right: 16px;
  left: auto; }

.destination-list .product-card .card-person-time {
  gap: 12px;
  -webkit-margin-before: 16px;
  margin-block-start: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.destination-list .product-card .review {
  position: static;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 0; }

.destination-list .review-price-wrap {
  -webkit-margin-before: 16px;
  margin-block-start: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 16px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }

.destination-list .product-card .card-price {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.destination-list .wishlist-icon {
  --color-border: rgba(0, 183, 241, 1);
  --badge-radius: 8px;
  --badge-padding: 6px 16px;
  position: static;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid var(--color-border);
  min-height: 56px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content; }

.destination-list .wishlist-icon svg {
  min-width: 20px;
  width: 20px;
  height: 20px; }

.destination-list .button-wishlist-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-margin-before: 24px;
  margin-block-start: 24px;
  -webkit-padding-before: 24px;
  padding-block-start: 24px;
  border-top: 1px solid var(--color-border); }

.destination-list .button-wishlist-wrap .button {
  --style-border-radius-buttons-primary: 8px;
  width: 100%; }

.destination-list .product-card .person-time-item {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

@media (max-width: 767px) {
  .destination-list .product-card.card-horizontal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .destination-list .product-card.card-horizontal .image {
    width: 100%; }
  .destination-list .product-card .content {
    padding: 24px 16px;
    width: 100%; }
  .destination-list .wishlist-icon {
    --badge-padding: 6px 12px;
    min-height: 48px; } }
