.footer-main {
  --color-background: rgba(3, 15, 18, 1);
  --color-foreground: rgba(255, 255, 255, 0.7);
  --color-foreground-heading: rgba(255, 255, 255, 1);
  --color-primary-hover: rgba(255, 255, 255, 1);
  --color-border: rgba(177, 181, 182, 1);
  background-color: var(--color-background);
  position: relative; }

.footer-logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 50px;
  border-bottom: 1px solid var(--color-border);
  -webkit-padding-after: 24px;
  padding-block-end: 24px;
  -webkit-margin-after: 60px;
  margin-block-end: 60px; }

.footer-logo {
  max-width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none; }

.footer-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  text-decoration: none; }

.footer-call .call-text svg,
.footer-call .call-text {
  --color-foreground: rgba(255, 255, 255, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  color: var(--color-foreground); }

.footer-call .call-number {
  --color-foreground: rgba(0, 183, 241, 1);
  color: var(--color-foreground); }

.footer-contact-item .footer-email,
.footer-contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 10px;
  text-decoration: none; }

.footer-contact-item .svg-wrapper {
  --size-svg: 24px;
  min-width: var(--size-svg);
  height: var(--size-svg); }

.footer-contact-item .svg-wrapper svg {
  --color-foreground: rgba(255, 255, 255, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--color-foreground);
  -webkit-margin-before: 3px;
  margin-block-start: 3px; }

.footer-contact-item .svg-wrapper .icon-map {
  min-width: 16px;
  height: 23px; }

.footer-contact-item .text {
  line-height: 1.4; }

footer .currency-wrap,
footer .social-wrap {
  -webkit-margin-before: 28px;
  margin-block-start: 28px; }

footer .social-link {
  --color-background: rgba(255, 255, 255, 1);
  --color-foreground: rgba(0, 183, 241, 1);
  color: var(--color-foreground);
  background-color: var(--color-background);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

footer .social-link:focus,
footer .social-link:hover {
  --color-background: rgba(0, 183, 241, 1);
  --color-foreground: rgba(255, 255, 255, 1); }

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px; }

.footer-menu .link {
  text-decoration: none;
  display: inline-block;
  color: var(--color-foreground);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.footer-menu > li:focus > .link,
.footer-menu > li:hover > .link {
  color: var(--color-primary-hover); }

.widget-heading {
  font-weight: 600; }

.footer-widget-text .widget-heading + * {
  -webkit-margin-before: 10px;
  margin-block-start: 10px; }

.footer-widget-text {
  -webkit-margin-before: 28px;
  margin-block-start: 28px; }

.widget-heading + * {
  -webkit-margin-before: 28px;
  margin-block-start: 28px; }

.footer-top {
  padding: 100px 0; }

.footer-bottom {
  --color-background: rgb(233, 227, 227);
  --color-foreground: rgba(3, 15, 18, 1);
  background: var(--color-background);
  padding: 20px 0; }

.footer-widget-menu > .footer-menu .link {
  position: relative; }

.footer-widget-menu > .footer-menu > li:hover > .link {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px); }

.footer-widget-menu > .footer-menu .link::before {
  --color-border: rgba(255, 255, 255, 1);
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  left: -14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: var(--color-border);
  z-index: 1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.footer-widget-menu > .footer-menu > li:hover > .link::before {
  width: 8px; }

.footer-bottom-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer-bottom-inner .social-wrap {
  margin: 0; }

footer .dropdown-list-wrap.radius4 {
  border-radius: 4px 4px 0 0; }

footer .dropdown-item.active > .text,
footer .dropdown-item:hover > .text {
  --color-foreground: rgba(3, 15, 18, 1); }

.footer-widget-contact .footer-contact-list {
  max-width: 360px; }

@media (min-width: 992px) {
  .footer-custom-row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 340px auto auto auto;
    grid-template-columns: 340px auto auto auto;
    gap: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer-2 .footer-custom-row {
    -ms-grid-columns: auto auto auto 340px;
    grid-template-columns: auto auto auto 340px; }
  .footer-custom-row > * {
    width: 100%;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content; } }

@media (min-width: 1601px) {
  .footer-custom-row {
    -ms-grid-columns: 380px auto auto auto;
    grid-template-columns: 380px auto auto auto; }
  .footer-2 .footer-custom-row {
    -ms-grid-columns: auto auto auto 380px;
    grid-template-columns: auto auto auto 380px; } }

@media (max-width: 1279px) {
  .footer-logo {
    max-width: 160px; } }

@media (max-width: 991px) {
  .footer-custom-row {
    row-gap: 48px; }
  .footer-top {
    padding: 80px 0; }
  .footer-top .grid-gap {
    row-gap: 60px; }
  footer .dropdown-list-wrap {
    bottom: auto;
    top: 100%; }
  footer .dropdown-list-wrap.radius4 {
    border-radius: 0 0 4px 4px; }
  footer .dropdown-wrap.active .dropdown-button {
    border-radius: 4px 4px 0 0; }
  .footer-top .dropdown-button svg,
  .footer-top .dropdown-btn-text .text {
    --color-foreground: rgba(255, 255, 255, 0.7); } }

@media (max-width: 767px) {
  .footer-top {
    padding: 60px 0; }
  .footer-top .grid-gap {
    row-gap: 48px; }
  .footer-copyright {
    text-align: center; }
  .footer-policies {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px 30px; }
  .footer-bottom-row {
    gap: 24px; }
  .footer-widget-brand .social-icons {
    -webkit-margin-before: 30px;
    margin-block-start: 30px; }
  .footer-logo {
    max-width: 130px; }
  .footer-call,
  .footer-logo-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .footer-bottom-inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; } }
