.header-1 {
  --header-radius: 0;
  --color-background: rgba(0, 64, 84, 1);
  --color-foreground: rgba(255, 255, 255, 0.7);
  --color-foreground-heading: rgba(255, 255, 255, 0.75);
  --color-primary-hover: rgba(0, 183, 241, 1);
  background: var(--color-background); }

.header-white-bg {
  --color-background: rgba(255, 255, 255, 1);
  --color-foreground: rgba(3, 15, 18, 0.6);
  --color-foreground-heading: rgba(3, 15, 18, 0.75);
  --color-primary-hover: rgba(0, 183, 241, 1);
  --color-border: rgba(3, 15, 18, 1); }

.header-region .dropdown-wrap {
  width: auto; }

.header-white-bg .dropdown-button,
.header-white-bg .dropdown-button svg,
.header-white-bg .dropdown-btn-text .text {
  --color-foreground: rgba(3, 15, 18, 0.6); }

.header-region .dropdown-button {
  padding: 12px 16px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border: none; }

.header-region .dropdown-list-wrap {
  width: 100%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  bottom: auto;
  top: 100%;
  left: auto;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px; }

.header-region .dropdown-list > li + li {
  -webkit-margin-before: 16px;
  margin-block-start: 16px; }

.dropdown-list-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr; }

.header-region .dropdown-item.active > .text,
.header-region .dropdown-item:hover > .text {
  color: var(--color-primary-hover); }

.header-region .dropdown-button {
  padding: 34px 0; }

.header-1 .menu-open {
  --color-foreground: rgba(3, 15, 18, 1); }

.header-1.header-floating:hover,
.header-1.header-sticky.scrolled-past-header {
  --color-background: rgba(0, 64, 84, 1); }

.header-white-bg.header-floating:hover,
.header-white-bg.header-sticky.scrolled-past-header {
  --color-background: rgba(255, 255, 255, 1); }

.header-floating {
  position: fixed;
  top: var(--top, 0);
  left: 0;
  width: 100%;
  z-index: 9; }

.header-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 290px 1fr 290px;
  grid-template-columns: 290px 1fr 290px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
  background: var(--color-background);
  border-radius: var(--header-radius);
  padding: var(--header-padding); }

.header-logo {
  max-width: 110px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header-actions {
  justify-self: flex-end;
  gap: 30px; }

.header-login {
  --color-foreground: rgba(255, 255, 255, 0.7);
  color: var(--color-foreground);
  text-decoration: none; }

.header-login:hover {
  --color-foreground: rgba(255, 255, 255, 1);
  color: var(--color-foreground); }

.header-actions .button {
  --font-button-size: 16px; }

sticky-header[data-sticky-type="always"] {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9; }

@media (min-width: 992px) {
  .header-nav {
    position: relative; } }

@media (max-width: 1365px) {
  .header-grid {
    -ms-grid-columns: 240px 1fr 240px;
    grid-template-columns: 240px 1fr 240px; }
  .header-actions {
    gap: 20px; } }

@media (max-width: 1279px) {
  .header-grid {
    -ms-grid-columns: 200px 1fr 200px;
    grid-template-columns: 200px 1fr 200px; }
  .header-actions .header-search {
    min-width: 36px;
    width: 36px;
    height: 36px; }
  .header-actions .header-search svg {
    width: 18px;
    height: 18px; }
  .header-actions .button--slim {
    -webkit-padding-start: 18px;
    padding-inline-start: 18px;
    gap: 8px; }
  .header-actions .button--slim .svg-wrapper {
    min-width: 30px;
    height: 30px; } }

@media (max-width: 991px) {
  .header-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 12px 0; }
  .header-nav-headings .header-logo {
    max-width: 90px; } }
