.image-text .image-wrap {
  -webkit-padding-end: 45px;
  padding-inline-end: 45px; }

.image-text .image img {
  max-height: 462px;
  -o-object-fit: cover;
  object-fit: cover; }

.image-text .content > .heading + .text {
  -webkit-margin-before: 24px;
  margin-block-start: 24px; }

.image-text .text-list {
  -webkit-margin-before: 40px;
  margin-block-start: 40px; }

.image-text .text-list > li + li {
  -webkit-margin-before: 24px;
  margin-block-start: 24px; }
