.submenu-color {
  --submenu-padding: 10px;
  --color-background: rgba(255, 255, 255, 1);
  --color-primary: rgba(3, 15, 18, 0.6);
  --color-primary-hover: rgba(3, 15, 18, 1); }

.header-1.header-white-bg .submenu-color {
  --submenu-padding: 10px;
  --color-background: rgba(255, 255, 255, 1);
  --color-primary: rgba(3, 15, 18, 0.6);
  --color-primary-hover: rgba(0, 183, 241, 1); }

.menu-link {
  color: var(--color-foreground-heading);
  font-family: var(--font-heading-family);
  padding: 0;
  font-size: var(--font-nav-main);
  font-weight: 500;
  border: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 7px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.nav-item:focus > .menu-link,
.nav-item:hover > .menu-link {
  --color-foreground-heading: rgba(255, 255, 255, 1);
  color: var(--color-foreground-heading); }

.header-white-bg .nav-item:focus > .menu-link,
.header-white-bg .nav-item:hover > .menu-link {
  --color-foreground-heading: rgba(0, 183, 241, 1);
  color: var(--color-foreground-heading); }

.menu-link-main > .svg-wrapper svg {
  position: relative;
  top: 1px;
  min-width: 12px;
  height: 7px; }

.menu-link-main {
  padding: 34px 16px; }

.nav-item {
  position: relative; }

.header-submenu {
  background: var(--color-background);
  width: 100%; }

.header-submenu > * {
  padding: var(--submenu-padding) 0; }

.nav-item-static {
  position: static; }

.header-submenu .nav-item {
  display: block;
  position: relative;
  padding: 0 var(--submenu-padding); }

.header-submenu .menu-link .heading,
.header-submenu .menu-link {
  color: var(--color-primary);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 7px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.header-megamenu .nav-item .menu-link .heading {
  padding: 5px 0px; }

.header-submenu .submenu-lists .nav-item .menu-link > .heading::before,
.header-submenu > ul > .nav-item > .menu-link::before {
  --color-border: rgba(3, 15, 18, 1);
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: var(--color-border);
  z-index: 1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.header-white-bg
.header-submenu
.submenu-lists
.nav-item
.menu-link
> .heading::before,
.header-white-bg .header-submenu > ul > .nav-item > .menu-link::before {
  --color-border: rgba(0, 183, 241, 1); }

.header-submenu .submenu-lists .nav-item .menu-link > .heading::before {
  left: 4px; }

.header-submenu .submenu-lists .nav-item:hover > .menu-link > .heading::before,
.header-submenu > ul > .nav-item:hover > .menu-link:not(.heading)::before {
  width: 8px; }

.header-megamenu .nav-item .submenu-lists .menu-link {
  padding: 3px 17px; }

.header-submenu .menu-link > svg {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.header-submenu .nav-item:focus > .menu-link,
.header-submenu .nav-item:hover > .menu-link {
  color: var(--color-primary-hover);
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px); }

.header-megamenu .nav-item:focus > .menu-link,
.header-megamenu .nav-item:hover > .menu-link {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px); }

.header-submenu .nav-item:focus > .menu-link .heading,
.header-submenu .nav-item:hover > .menu-link .heading {
  color: var(--color-primary-hover); }

.header-megamenu .nav-item > .menu-link.heading {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none; }

.reset-submenu {
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  width: auto; }

.header-megamenu > * > .nav-item {
  padding: 20px 16px; }

.megamenu-links .menu-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.menu-link.heading {
  background: transparent !important;
  font-weight: 700; }

.header-submenu .nav-item.megamenu-links .menu-link {
  padding: 5px 15px 7px; }

.header-submenu .nav-item.megamenu-links .menu-link > svg {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  top: 1px; }

.header-megamenu .nav-item.megamenu-links > * {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 7px; }

.submenu-lists .menu-link {
  letter-spacing: normal; }

.header-submenu.submenu-lists .nav-item .menu-link {
  padding: 7px 17px; }

@media (min-width: 992px) {
  .menu-absolute {
    position: absolute;
    top: 100%;
    left: 0; }
  .header-grandmenu {
    left: 100%;
    top: 0; }
  .header-submenu {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    opacity: 0;
    visibility: hidden; }
  .header-megamenu {
    width: 100%; }
  .nav-item:hover > .menu-absolute {
    opacity: 1;
    visibility: visible; }
  .reset-submenu > .nav-item {
    padding: 0; }
  .header-megamenu > * {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header-megamenu > * > .nav-item {
    width: calc(50% - var(--submenu-padding) / 2);
    max-width: calc(50% - var(--submenu-padding) / 2); }
  .header-megamenu .menu-link {
    display: inline-block; }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 1399px) {
  .menu-link-main {
    padding: 28px 12px; } }

@media (max-width: 991px) {
  .header-nav {
    --color-background: rgba(242, 242, 242, 1);
    --color-foreground: rgba(3, 15, 18, 0.6);
    --color-foreground-heading: rgba(3, 15, 18, 0.6);
    position: fixed;
    right: 0;
    top: 0;
    background: var(--color-background);
    z-index: 10;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    overflow-y: auto; }
  .header-nav.show {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 0; }
  .mobile-menu-bottom {
    padding: 0 15px 20px; }
  .mobile-menu-btn {
    padding: 24px 0; }
  .mobile-menu-bottom .dropdown-wrap {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-margin-before: 10px;
    margin-block-start: 10px; }
  .mobile-menu-bottom .dropdown-button {
    padding: 8px 0;
    border: none;
    gap: 16px; }
  .mobile-menu-bottom .dropdown-list-wrap {
    width: calc(100vw - 30px);
    top: auto;
    left: 0;
    border-radius: 4px;
    right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
    bottom: 100%; }
  .mobile-menu-bottom .dropdown-button,
  .mobile-menu-bottom .dropdown-button svg,
  .mobile-menu-bottom .dropdown-button .text,
  .mobile-menu-bottom .dropdown-button:hover svg,
  .mobile-menu-bottom .dropdown-button:hover .text {
    --color-foreground: rgba(3, 15, 18, 0.6); }
  .mobile-menu-bottom .dropdown-item.active > .text,
  .mobile-menu-bottom .dropdown-item:hover > .text {
    color: var(--color-primary-hover); }
  .mobile-menu-bottom .btn-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    gap: 8px; }
  .header-menu > * {
    width: 100%; }
  .menu-link-main {
    padding: 12px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header-menu > .nav-item .menu-link-main {
    border-top: 1px solid rgba(0, 0, 0, 0.15); }
  .menu-link {
    border-bottom: 1px solid rgba(0, 0, 0, 0); }
  .menu-link.active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  .menu-link > svg {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .menu-link.active > svg {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .header-megamenu > * > .nav-item {
    padding: 0 15px 10px; }
  .header-submenu .nav-item.megamenu-links {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    gap: 12px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .nav-item > .header-submenu:not(.reset-submenu) {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s ease-in-out;
    -o-transition: max-height 0.3s ease-in-out;
    transition: max-height 0.3s ease-in-out; }
  .header-submenu {
    background: inherit; }
  .header-nav-headings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 15px; }
  .header-nav-headings .svg-wrapper {
    color: #000;
    width: 28px;
    height: 28px;
    margin-right: -2px; }
  .menu-link * {
    pointer-events: none; }
  .header-megamenu .nav-item .menu-link > .heading {
    width: 100%; }
  .nav-item:focus > .menu-link,
  .nav-item:hover > .menu-link {
    --color-foreground-heading: rgba(3, 15, 18, 1);
    color: var(--color-foreground-heading); }
  .header-megamenu.header-submenu > * {
    padding: var(--submenu-padding) 0 0; } }
