.page-banner {
  --height: 480px;
  --color-foreground: rgba(255, 255, 255, 1);
  --color-foreground-heading: rgba(255, 255, 255, 1);
  position: relative;
  overflow: hidden;
  height: var(--height); }

.page-banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 1; }

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 12px;
  -webkit-margin-before: 20px;
  margin-block-start: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 12px 24px;
  background: rgba(3, 15, 18, 0.16);
  border-radius: 30px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px); }

.breadcrumb svg {
  color: var(--color-foreground); }

.breadcrumb > li:last-child > a {
  color: var(--color-primary-hover); }

.breadcrumb a:not(.active),
.breadcrumb li svg {
  opacity: 0.75; }

@media (max-width: 767px) {
  .page-banner {
    --height: 340px; } }
