.project-details-content {
  -webkit-margin-before: 60px;
  margin-block-start: 60px; }

.content-details-inner > .project-image-block,
.content-details-inner > .text {
  -webkit-margin-before: 40px;
  margin-block-start: 40px; }

.project-details-content .project-challenge {
  -webkit-margin-before: 60px;
  margin-block-start: 60px;
  max-width: 548px; }

.project-challenge .challenge-list {
  -webkit-margin-before: 34px;
  margin-block-start: 34px; }

.project-challenge .challenge-list > li + li {
  -webkit-margin-before: 32px;
  margin-block-start: 32px; }

.project-challenge .challenge-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 10px; }

.project-info-list {
  -webkit-margin-before: 30px;
  margin-block-start: 30px; }

.project-info-item {
  --color-border: rgba(28, 37, 57, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: dotted var(--style-border-width) var(--color-border);
  -webkit-margin-after: 40px;
  margin-block-end: 40px;
  -webkit-padding-after: 20px;
  padding-block-end: 20px; }

.project-info-item:last-child {
  -webkit-margin-after: 0;
  margin-block-end: 0; }

.project-info-item .info-data {
  text-align: end; }

.project-sidebar {
  -webkit-padding-start: 60px;
  padding-inline-start: 60px; }

.project-sidebar > div + div {
  -webkit-margin-before: 40px;
  margin-block-start: 40px; }

.project-sidebar .icon-contact {
  --color-background: rgba(255, 255, 255, 1);
  min-width: 80px;
  height: 80px;
  background: var(--color-background);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100%;
  -webkit-margin-before: 36px;
  margin-block-start: 36px; }

@media (max-width: 1366px) {
  .project-sidebar {
    -webkit-padding-start: 40px;
    padding-inline-start: 40px; } }

@media (max-width: 1199px) {
  .project-sidebar {
    -webkit-padding-start: 20px;
    padding-inline-start: 20px; } }

@media (max-width: 991px) {
  .project-sidebar {
    -webkit-margin-before: 40px;
    margin-block-start: 40px;
    -webkit-padding-start: 0px;
    padding-inline-start: 0px; }
  .project-details-content .project-challenge {
    max-width: 100%; } }

@media (max-width: 767px) {
  .project-details-content {
    -webkit-margin-before: 40px;
    margin-block-start: 40px; }
  .project-details-content .project-challenge {
    -webkit-margin-before: 40px;
    margin-block-start: 40px; } }
