.secvice-categories > li + li {
  -webkit-margin-before: 14px;
  margin-block-start: 14px; }

.secvice-category {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 8px;
  padding: 10px 20px; }

.secvice-category svg {
  --size: 18px;
  width: var(--size);
  height: var(--size);
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  transform: translateX(-15px); }

.secvice-category.active svg,
.secvice-category:focus svg,
.secvice-category:hover svg {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px); }

.service-contact {
  position: relative; }

.sidebar-widget.service-contact {
  --color-foreground: rgba(255, 255, 255, 1);
  --color-foreground-heading: rgba(255, 255, 255, 1);
  --color-overlay: rgba(28, 37, 57, 0.8);
  --padding: 60px 36px;
  text-align: center; }

.sidebar-widget.service-contact .contact-text {
  -webkit-margin-before: 30px;
  margin-block-start: 30px; }

.sidebar-widget.service-contact .contact-number {
  display: inline-block;
  -webkit-margin-before: 24px;
  margin-block-start: 24px; }

.service-sidebar .icon-contact {
  --color-background: rgba(255, 255, 255, 1);
  min-width: 80px;
  height: 80px;
  background: var(--color-background);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100%;
  -webkit-margin-before: 36px;
  margin-block-start: 36px; }

.service-sidebar .icon-contact svg {
  min-width: 42px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.service-download .service-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 12px;
  -webkit-margin-before: 24px;
  margin-block-start: 24px; }

.service-download .download-button {
  -webkit-margin-before: 24px;
  margin-block-start: 24px;
  display: block;
  text-underline-offset: 4px; }

.service-details-content > .service-choose-us,
.service-details-content > p.text,
.service-details-content > .heading {
  -webkit-margin-before: 40px;
  margin-block-start: 40px; }

.service-details-content .choose-us-desc > .text-lists,
.service-details-content .choose-us-desc > .heading + .text {
  -webkit-margin-before: 30px;
  margin-block-start: 30px; }

.service-details-content .choose-us-desc .text-lists .text-item svg {
  --size: 24px;
  min-width: var(--size);
  width: var(--size);
  height: var(--size); }

.service-details-content .choose-us-desc .text-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 6px; }

.service-details-content .choose-us-desc > .text-item + .text-item {
  -webkit-margin-before: 18px;
  margin-block-start: 18px; }

.service-details-content .choose-us-img {
  height: 100%; }

.service-details-content .choose-us-img img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%; }

.service-details-content .service-row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.service-details-content .service-row > * {
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch; }

.service-details-content .choose-us-desc {
  -webkit-padding-start: 24px;
  padding-inline-start: 24px; }

.service-faq {
  -webkit-margin-before: 40px;
  margin-block-start: 40px;
  display: block; }

.service-faq > div + div {
  -webkit-margin-before: 30px;
  margin-block-start: 30px; }

.service-faq .accordion-block .accordion-opener svg {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.service-faq .accordion-block.active .accordion-opener svg {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.service-faq .accordion-block.active .accordion-opener {
  --color-background: rgba(242, 242, 242, 1);
  --color-foreground-heading: rgba(28, 37, 57, 1); }

.service-contact-content a {
  text-decoration: none; }

@media (min-width: 992px) {
  .service-sidebar {
    -webkit-padding-end: 20px;
    padding-inline-end: 20px; } }

@media (min-width: 1280px) {
  .service-sidebar {
    -webkit-padding-end: 45px;
    padding-inline-end: 45px; } }

@media (max-width: 1199px) {
  .service-details-content .choose-us-desc {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-margin-before: 40px;
    margin-block-start: 40px; } }

@media (max-width: 991px) {
  .service-details-content .choose-us-desc {
    -webkit-padding-start: 24px;
    padding-inline-start: 24px;
    -webkit-margin-before: 0;
    margin-block-start: 0; } }

@media (max-width: 767px) {
  .service-sidebar .icon-contact {
    min-width: 60px;
    height: 60px; }
  .service-sidebar .icon-contact svg {
    min-width: 30px;
    height: 30px; }
  .sidebar-widget.service-contact {
    --padding: 30px 20px; }
  .service-details-content .choose-us-desc {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-margin-before: 40px;
    margin-block-start: 40px; } }
