.blog-details-page {
  overflow: hidden;
}

.blog-details .image {
  max-height: 570px;
  height: 570px;
}

.blog-details .blog-title {
  margin-block-start: 40px;
}

.blog-sidebar .sidebar-widget.widget-search input:focus,
.blog-sidebar .sidebar-widget.widget-search input:hover,
.blog-sidebar .sidebar-widget.widget-search input {
  --color-input-background: rgba(255, 255, 255, 1);
  background: var(--color-input-background);
}

.blog-details .card-time-comments {
  margin-block-start: 24px;
}

.blog-details .card-time-comments {
  display: flex;
  align-items: center;
  column-gap: 16px;
  row-gap: 8px;
  flex-wrap: wrap;
}

.blog-comment .card-list-item,
.blog-details .card-list-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.blog-details .blog-desc > * {
  margin-block-start: 24px;
}

.blog-details .blog-author {
  --color-background: rgba(0, 183, 241, 0.1);
  margin-block-start: 40px;
  background: var(--color-background);
}

.blog-details .blog-author.custom-shadow {
  --color-border: rgba(0, 183, 241, 1);
  padding: 40px;
  text-align: center;
  border-radius: 30px;
  border-left: 4px solid var(--color-border);
}

.blog-details .author-image {
  width: 130px;
  height: 130px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.blog-details .author-quote {
  margin-block-start: 24px;
}

.blog-details .author-desig {
  margin-block-start: 40px;
}

.blog-details .author-name {
  margin-block-start: 8px;
}

.blog-details .blog-text {
  margin-block-start: 40px;
}

.blog-comment .sort-button input {
  font-size: 18px;
  font-weight: 500;
}

.blog-comment .sort-button input::placeholder {
  font-size: 18px;
  width: 100%;
  font-weight: 500;
}

.blog-comment .sort-wrap .sort-button {
  gap: 16px;
  flex-wrap: nowrap;
}

.blog-comment {
  margin-block-start: 60px;
}

.blog-comment .dropdown-btn-text .svg-wrapper {
  margin-block-start: 3px;
}

.blog-comment .dropdown-btn-text {
  margin-block-start: 2px;
}

.blog-comment .comment-user-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.blog-comment .comment-list {
  margin-block-start: 40px;
}

.blog-comment .comment-list > li + li {
  margin-block-start: 24px;
}

.blog-comment .comment-user-info .image {
  min-width: 70px;
  width: 70px;
  height: 70px;
}

.blog-comment .user-info > .heading + .text {
  margin-block-start: 5px;
}

.blog-comment .comment-text {
  margin-block-start: 16px;
}

.blog-comment .border-full-width {
  margin-block-start: 24px;
}

.blog-comment .comment-bottom {
  margin-block-start: 24px;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog-comment .comment-reaction {
  display: flex;
  align-items: center;
  gap: 16px;
}

.comment-reaction .button svg {
  min-width: 24px;
  width: 24px;
  height: 24px;
}

.comment-reaction .button--slim {
  padding: 12px 26px 12px 24px;
}

.comment-reaction .card-list-item {
  cursor: pointer;
}

.blog-comment .comment-reply {
  margin-inline-start: 40px;
}

.blog-reply-form .field > label + textarea,
.blog-reply-form .field > label + input {
  margin-block-start: 16px;
}

.blog-reply-form {
  margin-block-start: 60px;
}

.reply-form {
  margin-block-start: 40px;
  border: 1px solid var(--color-border);
  border-radius: 20px;
  padding: 24px;
}

.reply-form .button {
  margin-block-start: 32px;
}

@media (min-width: 1199px) {
  .blog-details-page .row {
    --bs-gutter-x: 60px;
  }
}

@media (max-width: 1199px) {
  .blog-details-page .row {
    --bs-gutter-x: 40px;
  }
}

@media (max-width: 767px) {
  .blog-details .blog-author.custom-shadow {
    padding: 24px 16px;
  }

  .blog-details .image {
    max-height: auto;
    height: auto;
  }
}
