.destination-gallery {
  position: relative;
}

.destination-gallery .rating-title-wrap {
  display: flex;
  align-items: center;
  gap: 12px;
}

.destination-gallery .review,
.destination-gallery .person-time-item {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-block-start: 16px;
}

.destination-gallery .image-grid-item .image {
  overflow: hidden;
}

.destination-map .button,
.destination-available .button,
.destination-reviews .button,
.destination-gallery .button {
  --style-border-radius-buttons-primary: 8px;
}

.destination-gallery .button-wishlist-wrap {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-block-start: 16px;
}

.destination-gallery .wishlist-icon {
  --color-border: rgba(0, 183, 241, 1);
  --badge-radius: 8px;
  --badge-padding: 6px 16px;
  position: static;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid var(--color-border);
  min-height: 56px;
  min-width: fit-content;
}

.destination-gallery .share-icon {
  --color-border: rgba(0, 183, 241, 1);
  --badge-radius: 8px;
  --badge-padding: 6px 16px;
  border: 1px solid var(--color-border);
  min-height: 56px;
  min-width: fit-content;
  padding: var(--badge-padding);
  border-radius: var(--badge-radius);
  background: var(--color-background);
}

.destination-gallery .share-icon svg {
  min-width: 24px;
  width: 24px;
  height: 24px;
}

.overview-desc > .heading + .text {
  margin-block-start: 16px;
}

.facility-block {
  --color-background: rgba(255, 255, 255, 1);
  --color-border: rgba(0, 183, 241, 1);
  padding: 16px;
  border: 1px solid var(--color-border);
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  width: 165px;
  min-height: 145px;
  align-items: flex-start;
  gap: 12px;
  border-radius: 12px;
  align-self: stretch;
  height: auto;
}

.facility-block .facility-list {
  margin-block-start: 8px;
}

.facility-blocks {
  -webkit-margin-before: 40px;
  margin-block-start: 40px;
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.facility-block.active {
  --color-background: rgba(0, 183, 241, 1);
  --color-foreground-heading: rgba(255, 255, 255, 1);
  --color-foreground: rgba(255, 255, 255, 1);
}

.facility-block .facility-list > li + li {
  margin-block-start: 8px;
}

.destination-reviews .rating-number-wrap {
  margin-block-start: 24px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.destination-reviews .rating-text > .heading + .text {
  margin-block-start: 4px;
}

.destination-reviews .section-headings-horizontal {
  align-items: flex-start;
}

.destination-reviews .user-content {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  max-width: 960px;
}

.destination-reviews .user-content .text-content > .text {
  margin-block-start: 8px;
}

.destination-reviews .user-content img {
  width: 45px;
  height: 45px;
  display: flex;
  object-fit: cover;
}

.destination-reviews .rating-with-name {
  display: flex;
  align-items: center;
  gap: 24px;
}

.destination-reviews .rating-with-name > div:not(:first-child) {
  position: relative;
}

.destination-reviews .rating-with-name > div:not(:first-child)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 75%;
  background: var(--color-border);
  left: -12px;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
}

.destination-reviews .review-list {
  margin-block-start: 40px;
}

.destination-reviews .review-item {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 24px;
}

.destination-reviews .review-item + .review-item {
  margin-block-start: 24px;
}

.destination-available .available-list {
  margin-block-start: 40px;
}

.destination-available .content {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  max-width: 960px;
}

.destination-available .content img {
  width: 48px;
  height: 48px;
  display: flex;
  object-fit: cover;
  border-radius: 4px;
}

.destination-available .available-item {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.destination-available .available-item + .available-item {
  margin-block-start: 32px;
}

.destination-available .available-item:not(:last-child) {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--color-border);
}

.destination-available .available-item .price-with-button {
  display: flex;
  align-items: center;
  column-gap: 60px;
  row-gap: 24px;
}

.destination-map .google-map {
  margin-block-start: 40px;
  border-radius: 16px;
}

.destination-gallery .section-headings-horizontal,
.destination-map .section-headings-horizontal {
  align-items: flex-start;
}

.loacatoin-text {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-block-start: 12px;
}

.destination-gallery.image-grid {
  --spacing-image-grid: 0.8rem;
}

.destination-gallery.image-grid .image-grid-item + .image-grid-item {
  margin-block-start: var(--spacing-image-grid);
}

.destination-gallery .image-grid-item .image img {
  height: 100%;
  object-fit: cover;
}

.destination-gallery.image-grid .content-box {
  padding: 30px;
}

.destination-gallery.image-grid .grid-gap-narrow {
  --bs-gutter-x: 0.8rem;
  --bs-gutter-y: 0.8rem;
}

@media (max-width: 767px) {
  .destination-gallery .wishlist-icon,
  .destination-gallery .share-icon {
    min-height: 48px;
  }

  .destination-gallery .image-grid .content-box {
    padding: 20px;
  }
}
