.footer-main {
  --color-background: rgba(3, 15, 18, 1);
  --color-foreground: rgba(255, 255, 255, 0.7);
  --color-foreground-heading: rgba(255, 255, 255, 1);
  --color-primary-hover: rgba(255, 255, 255, 1);
  --color-border: rgba(177, 181, 182, 1);
  background-color: var(--color-background);
  position: relative;
}

.footer-logo-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  border-bottom: 1px solid var(--color-border);
  padding-block-end: 24px;
  margin-block-end: 60px;
}

.footer-logo {
  max-width: 120px;
  display: flex;
  text-decoration: none;
}

.footer-call {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}

.footer-call .call-text svg,
.footer-call .call-text {
  --color-foreground: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-foreground);
}

.footer-call .call-number {
  --color-foreground: rgba(0, 183, 241, 1);
  color: var(--color-foreground);
}

.footer-contact-item .footer-email,
.footer-contact-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  text-decoration: none;
}

.footer-contact-item .svg-wrapper {
  --size-svg: 24px;
  min-width: var(--size-svg);
  height: var(--size-svg);
}

.footer-contact-item .svg-wrapper svg {
  --color-foreground: rgba(255, 255, 255, 1);
  display: flex;
  color: var(--color-foreground);
  margin-block-start: 3px;
}

.footer-contact-item .svg-wrapper .icon-map {
  min-width: 16px;
  height: 23px;
}

.footer-contact-item .text {
  line-height: 1.4;
}

footer .currency-wrap,
footer .social-wrap {
  margin-block-start: 28px;
}

footer .social-link {
  --color-background: rgba(255, 255, 255, 1);
  --color-foreground: rgba(0, 183, 241, 1);
  color: var(--color-foreground);
  background-color: var(--color-background);
  transition: 0.3s;
}

footer .social-link:focus,
footer .social-link:hover {
  --color-background: rgba(0, 183, 241, 1);
  --color-foreground: rgba(255, 255, 255, 1);
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-menu .link {
  text-decoration: none;
  display: inline-block;
  color: var(--color-foreground);
  transition: 0.3s;
}

.footer-menu > li:focus > .link,
.footer-menu > li:hover > .link {
  color: var(--color-primary-hover);
}

.widget-heading {
  font-weight: 600;
}

.footer-widget-text .widget-heading + * {
  margin-block-start: 10px;
}

.footer-widget-text {
  margin-block-start: 28px;
}

.widget-heading + * {
  margin-block-start: 28px;
}

.footer-top {
  padding: 100px 0;
}

.footer-bottom {
  --color-background: rgb(233, 227, 227);
  --color-foreground: rgba(3, 15, 18, 1);
  background: var(--color-background);
  padding: 20px 0;
}

.footer-widget-menu > .footer-menu .link {
  position: relative;
}

.footer-widget-menu > .footer-menu > li:hover > .link {
  transform: translateX(16px);
}

.footer-widget-menu > .footer-menu .link::before {
  --color-border: rgba(255, 255, 255, 1);
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  left: -14px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--color-border);
  z-index: 1;
  transition: all 0.3s;
}

.footer-widget-menu > .footer-menu > li:hover > .link::before {
  width: 8px;
}

.footer-bottom-inner {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
}

.footer-bottom-inner .social-wrap {
  margin: 0;
}

footer .dropdown-list-wrap.radius4 {
  border-radius: 4px 4px 0 0;
}

footer .dropdown-item.active > .text,
footer .dropdown-item:hover > .text {
  --color-foreground: rgba(3, 15, 18, 1);
}

.footer-widget-contact .footer-contact-list {
  max-width: 360px;
}

@media (min-width: 992px) {
  .footer-custom-row {
    display: grid;
    grid-template-columns: 340px auto auto auto;
    gap: 20px;
    justify-content: space-between;
  }

  .footer-2 .footer-custom-row {
    grid-template-columns: auto auto auto 340px;
  }

  .footer-custom-row > * {
    width: 100%;
    max-width: fit-content;
  }
}

@media (min-width: 1601px) {
  .footer-custom-row {
    grid-template-columns: 380px auto auto auto;
  }

  .footer-2 .footer-custom-row {
    grid-template-columns: auto auto auto 380px;
  }
}

@media (max-width: 1279px) {
  .footer-logo {
    max-width: 160px;
  }
}

@media (max-width: 991px) {
  .footer-custom-row {
    row-gap: 48px;
  }

  .footer-top {
    padding: 80px 0;
  }

  .footer-top .grid-gap {
    row-gap: 60px;
  }

  footer .dropdown-list-wrap {
    bottom: auto;
    top: 100%;
  }

  footer .dropdown-list-wrap.radius4 {
    border-radius: 0 0 4px 4px;
  }

  footer .dropdown-wrap.active .dropdown-button {
    border-radius: 4px 4px 0 0;
  }

  footer .dropdown-button svg,
  footer .dropdown-btn-text .text {
    --color-foreground: rgba(255, 255, 255, 0.7);
  }
}

@media (max-width: 767px) {
  .footer-top {
    padding: 60px 0;
  }

  .footer-top .grid-gap {
    row-gap: 48px;
  }

  .footer-copyright {
    text-align: center;
  }

  .footer-policies {
    justify-content: center;
    gap: 10px 30px;
  }

  .footer-bottom-row {
    gap: 24px;
  }

  .footer-widget-brand .social-icons {
    margin-block-start: 30px;
  }

  .footer-logo {
    max-width: 130px;
  }

  .footer-call,
  .footer-logo-wrap {
    flex-wrap: wrap;
  }

  .footer-bottom-inner {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
