.image-grid .content-box {
  --color-foreground: rgba(255, 255, 255, 1);
  --color-foreground-heading: rgba(255, 255, 255, 1);
  --color-foreground-subheading: rgba(255, 255, 255, 1);
  --style-button-slim-height: 40px;
  --font-subheading--family: "Satisfy", sans-serif;
}

.image-grid {
  --spacing-image-grid: 1.5rem;
  overflow: hidden;
  padding-block-start: 5px;
}

.image-grid .overlay:after {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(5, 21, 27, 0.7) 66%,
    rgba(5, 21, 27, 0.9) 81%,
    rgba(5, 21, 27, 1) 100%
  );
}

.image-grid .section-headings-left .text {
  max-width: 630px;
  width: 630px;
}

.image-grid .image-grid-item {
  position: relative;
  display: flex;
  text-decoration: none;
  height: 100%;
  min-height: inherit;
}

.image-grid .item-height-auto .image-grid-item {
  height: calc(50% - var(--spacing-image-grid) / 2);
  min-height: calc(50% - var(--spacing-image-grid) / 2);
}

.image-grid .grid-gap > div {
  min-height: 534px;
}

.image-grid-item .flex-banner {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.image-grid modal-video + modal-video .image-grid-item {
  margin-block-start: 24px;
}

.image-grid .image-grid-item + .image-grid-item {
  margin-block-start: var(--spacing-image-grid);
}

.image-grid .content-box {
  padding: 40px 30px;
}

.image-grid .content > * + * {
  margin-block-start: 10px;
}

.image-grid .content-box.box-horizontal {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}

.image-grid:not(.video-grid) .image:focus .button--primary,
.image-grid:not(.video-grid) .image:hover .button--primary {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: var(--color-primary-button-hover-text);
  background-color: var(--color-primary-button-hover-background);
  border: var(--style-border-width-buttons-primary) solid
    var(--color-primary-button-hover-border);
}

.image-grid.video-grid .button--primary:focus,
.image-grid.video-grid .button--primary:hover {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: var(--color-primary-button-hover-text);
  background-color: var(--color-primary-button-hover-background);
  border: var(--style-border-width-buttons-primary) solid
    var(--color-primary-button-hover-border);
}

.video-grid .button {
  --color-background: rgba(255, 255, 255, 1);
  --color-foreground: rgba(0, 64, 84, 1);
  --color-border: rgba(255, 255, 255, 1);
  --style-border-radius-buttons-primary: 100%;
  background-color: var(--color-background);
  color: var(--color-foreground);
  border-color: var(--color-border);
  border-radius: var(--style-border-radius-buttons-primary);
  padding: 0;
}

.video-grid .button svg {
  width: 30px;
  min-height: 30px;
  height: 30px;
}

.video-grid .button.theme-w-70 svg,
.video-grid .button.theme-w-60 svg {
  width: 20px;
  min-height: 20px;
  height: 20px;
}

.video-grid .video-wrap {
  display: block;
}

.video-grid .video-wrap + .video-wrap {
  margin-block-start: 24px;
}

.image-grid .content-box > .content + .button {
  margin-block-start: 30px;
}

.image-grid .content-box .button:not(.open-video) {
  min-width: 160px;
}

.offer-grid .offer-card .content-box {
  text-align: center;
  max-width: 450px;
  padding: 100px 30px;
}

.offer-card .content-box .heading + .button {
  margin-block-start: 30px;
}

@media (max-width: 991px) {
  .image-grid .image-grid-item img {
    object-fit: cover;
  }

  .image-grid .section-headings-left .text {
    max-width: 100%;
    width: 100%;
  }

  .image-grid .custom-row {
    row-gap: 24px;
  }

  .offer-grid .offer-card {
    padding: 80px 24px;
  }
}

@media (max-width: 767px) {
  .image-grid .content-box {
    padding: 40px 20px;
  }

  .image-grid .content-box.box-horizontal > .content {
    width: 100%;
  }

  .image-grid .content-box.box-horizontal {
    flex-wrap: wrap;
    gap: 0;
  }

  .offer-grid .offer-card {
    padding: 60px 16px;
  }
}
