.instagram {
  --color-foreground: rgba(255, 255, 255, 1);
  --color-overlay: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.insta-list {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.insta-item {
  min-width: 200px;
}

.insta-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.insta-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-overlay);
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
  transform: scale(0);
}

.insta-link:hover::after {
  transform: scale(1);
}

.insta-link .svg-wrapper {
  position: absolute;
  z-index: 2;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
  color: var(--color-foreground);
}

.insta-link:hover .svg-wrapper {
  transform: scale(1);
}

.insta-link img {
  object-fit: cover;
  height: auto;
  transition: all 0.4s;
}

.insta-link:hover > img {
  transform: scale(1.1);
}

@media (min-width: 1600px) {
  .insta-list {
    justify-content: center;
  }
}
