.product-card {
  --color-border: rgba(177, 181, 182, 1);
  --card-radius: 16px;
  --card-cone-radius: 200px;
  --style-button-slim-height: 40px;
  --font-button-size: 16px;
  --badge-radius: 30px;
  --badge-padding: 6px 16px;
  border: 1px solid var(--color-border);
  display: block;
  overflow: hidden;
  text-decoration: none;
  border-radius: var(--card-radius);
  height: 100%;
}

.product-card.product-card-3 .badge {
  --badge-radius: 5px;
  --badge-padding: 4px 10px;
}

.product-card-2 .compare-price.heading {
  --color-foreground-heading: rgba(16, 12, 8, 0.5);
}

.product-card-2 {
  border-radius: var(--card-cone-radius) var(--card-cone-radius)
    var(--card-radius) var(--card-radius);
}

.product-card .image {
  position: relative;
  overflow: hidden;
}

.product-card .review {
  --color-background: rgba(255, 255, 255, 1);
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background: var(--color-background);
  padding: var(--badge-padding);
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 2;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: var(--badge-radius);
}

.product-card .review svg {
  --color-foreground: rgba(255, 186, 37, 1);
  color: var(--color-foreground);
}

.product-card .review strong {
  --color-foreground: rgba(3, 15, 18, 1);
  color: var(--color-foreground);
}

.product-card .content {
  padding: 30px 16px;
}

.product-card-3 .content,
.product-card-2 .content {
  padding: 24px;
}

.product-card .content > .heading + .text {
  margin-block-start: 16px;
}

.product-card .card-person-time {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-block-start: 10px;
}

.product-card .person-time-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.product-card .price-booking-wrap {
  display: flex;
  align-items: center;
  margin-block-start: 30px;
  gap: 16px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-card-2 .price-booking-wrap {
  align-items: flex-end;
  flex-wrap: wrap;
}

.product-card .card-price {
  display: flex;
  align-items: center;
  gap: 2px;
}

.product-card-2 .card-price {
  flex-direction: column;
  align-items: flex-start;
}

.product-card-3 {
  --style-border-radius-buttons-primary: 10px;
}

.product-card .card-time-country {
  --color-foreground: rgba(255, 255, 255, 1);
  --color-background: rgba(3, 15, 18, 0.6);
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  padding: 16px;
  position: absolute;
  bottom: 0;
  background: var(--color-background);
  width: 100%;
}

.product-card .price-regular-compare {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-card-3 .review {
  background: transparent;
  padding: 0;
  position: static;
  box-shadow: none;
  border-radius: 0;
  margin-block-end: 4px;
}

.product-card .product-title:hover .heading {
  color: var(--color-primary-hover);
  transition: all 0.2s ease-in-out;
}

.product-card-3 .product-title + .text {
  margin-block-start: 16px;
}

@media (max-width: 767px) {
  .product-card {
    --card-cone-radius: 300px;
  }

  .product-card-3 .content,
  .product-card-2 .content {
    padding: 16px;
  }
}
