.promotion {
  position: relative;
}

.promotion-slider {
  padding-block-end: 32px;
}

.promotion .media {
  height: 450px;
}

.promotion .section-headings {
  --color-foreground: rgba(255, 255, 255, 1);
  --color-foreground-heading: rgba(255, 255, 255, 1);
}

.promotion.promotion-white-bg .section-headings {
  --color-foreground: rgba(3, 15, 18, 0.7);
  --color-foreground-heading: rgba(3, 15, 18, 1);
}

.promotion.promotion-white-bg .border-wrapper {
  --color-border: rgba(148, 148, 148, 0.4);
  transition: all 0.3s ease-in-out;
}

.promotion.promotion-white-bg .border-wrapper:hover {
  --color-border: rgba(0, 183, 241, 0.3);
  --color-background: rgba(0, 183, 241, 0.15);
  background: var(--color-background);
}

.promotion-slider {
  display: block;
}

.promotion .content-wrapper {
  position: relative;
  z-index: 2;
  top: 65px;
}

.promotion-slider .swiper {
  padding: 16px;
}

.promotion-slider .swiper-nav-inner {
  margin-block-start: 24px;
}

.promotion-about .promotion-card {
  --color-foreground: rgba(3, 15, 18, 0.7);
  --color-foreground-heading: rgba(3, 15, 18, 1);
  --color-background: rgba(255, 255, 255, 1);
  background: var(--color-background);
  height: 100%;
}

.promotion-about .promotion-card {
  --color-foreground: rgba(3, 15, 18, 0.7);
  --color-foreground-heading: rgba(3, 15, 18, 1);
  --color-background: rgba(255, 255, 255, 1);
  background: var(--color-background);
  height: 100%;
}

.promotion-about .promotion-icon-wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}

.promotion-about .promotion-icon {
  --color-background: rgba(0, 183, 241, 1);
  background: var(--color-background);
}

.promotion-about .svg-wrapper svg {
  color: rgba(255, 255, 255, 1);
}

.promotion.promotion-about .media {
  height: 100%;
}

.promotion.promotion-about .promotion-content {
  max-width: 100%;
}
